    /* table dashboard */
    .table-dashboard {
        margin-right: 20px;
        margin-top: 20px;
        background-color: #ffffff;

    }

    /* top button table */

    .top-button-table {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 108px;
    }

    .top-button-table-content {
        padding-left: 6px;
        padding-right: 6px;
    }

    .top-table-dashboard {
        display: flex;
        padding: 16px;
        height: 64px;
        box-sizing: border-box;
        align-items: center;
    }

    .icon-dropdown-grey {
        opacity: .5;
        margin-left: 5px;
    }

    .top-table-dashboard {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .top-right-table-dashboard {
        display: flex;
        align-items: center;

    }

    .list-table tr th {
        box-sizing: border-box;
    }

    .list-table tr td {
        box-sizing: border-box;
    }
    .delete-mutiple-row{
         background: #fff !important;
    cursor: pointer;
    transition: all .2s ease;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 42px;
    top: 35px;
    left: 120px;
    position:absolute;
    display: block;
    color: rgba(0,0,0,.7);
    border: 1px solid #babec5;
    border-radius: 3px;
    z-index: 1000;
    }
    /* table */


    .main-table-dashboard thead tr {
        height: 34px;

    }

    .main-table-dashboard {
        /* margin-top: 18px; */
        min-width: 1280px !important;
        /* width: 300px; */
        overflow-x: scroll;
        height: 495px;
        /* overflow-y: auto; 
	overflow-x: auto; */
        -webkit-overflow-scrolling: touch;
    }

    /* .main-table-dashboard tr{
    height: 33px;
    min-width: 100px;
} */
    .list-table {
        border-collapse: collapse;
    }
    .row-tick-table:focus{
        background-color: #E5E8EC;
    }
    /* .list-table tr{
    min-width: 100px;
} */
    .list-table td {
        padding-left: 10px;
    }

    .head-table-list {
        text-transform: uppercase;
        font-weight: 600;
        background-color: #E5E8EC;

    }
    .tr-table-list:focus {
        background-color: #E5F3FF ;
    }
    .checkbox-table {
        background-color: #ffffff;

    }

    .head-table-list .checkbox-table {
        background-color: #E5E8EC !important;

    }

    .table-button-function {
        background-color: #ffffff;
    }

    .head-table-list .table-button-function {
        background-color: #E5E8EC !important;

    }

    .body-table-list tr {
        position: relative;
       
    }

    .body-table-list tr:hover {
        background-color: #E5F3FF !important;
    }

    .body-table-list tr:hover .table-button-function {
        background-color: #E5F3FF;

    }

    .body-table-list tr:hover .checkbox-table {
        background-color: #E5F3FF;
    }

    /* check box trong bảng table danh sách nhân viên */
    .button-tick-table {
        width: 16px;
        height: 18px;
        background-color: #ffffff;
        cursor: pointer;
        position: relative;

    }

    .icon-loadData {
        cursor: pointer;
        background-position: -425px -201px;

    }

    .icon-loadData:hover{
        background-position: -1098px -89px;;

    }
    /* .icon-checkbox{
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: url('/assets/img/Sprites.64af8f61.svg') no-repeat;
    margin-right: 16px;
    background-position: -1224px -360px;
    top:0;
    left: 0;
    transform: rotate(-90deg);
   
} */

    /* .button-tick-table:checked{
    opacity: 0;
    transition: all .2s ease;
    transform: rotate(-90deg);
} */

    /* .checkbox-table{
    width: 200px;
} */
    .head-table-list tr th {
        min-width: 150px;
        border-right: 1px solid #c7c7c7;
        border-bottom: 1px solid #c7c7c7;
    }

    .body-table-list tr td {
        border-right: 1px solid #c7c7c7;
        border-bottom: 1px solid #c7c7c7;
        height: 44px;
    }

    .checkbox-table {
        min-width: 30px !important;
    }


    /* Chỉnh sửa độ dài các tr của thead trong table */

    .head-table-list .table-identityDate {
        min-width: 210px;
    }

    .head-table-list .table-employeeCode {
        min-width: 135px !important;
        padding-left: 10px;
        padding-right: 22px;
        align-items: center;
    }

    .table-employeeName {
        min-width: 250px !important;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
    }

    .table-gender {
        min-width: 125px !important;
    }

    /* .list-table{
    position: relative;
} */
    .head-table-list {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .body-table-list .checkbox-table {
        padding-left: 8px;
    }

    .head-table-list .row-tick-table{
        position: sticky;
        left: 0;
        top: 36px;
        z-index: 10000 !important;


    }

    /* .body-table-list tr :last-child {
        position: sticky;
        right: 0;
        top: 36px;
        z-index: 100;


    } */

    .head-table-list tr :first-child {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .head-table-list tr :last-child {
        position: sticky;
        top: 0;
        right: 0;
        z-index: 1000;
    }

    .btn-function-table {
        border: none;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        cursor: pointer;
        color: #0075C0;
        margin-left: 25px;

    }

    .icon-down-edit {
        background: url(../../assets/img/Sprites.64af8f61.svg) no-repeat;
        width: 16px;
        height: 16px;
        cursor: pointer;
        background-position: -896px -359px;
        position: relative;
        margin-left: 15px;

    }

    /* footer table */
    .footer-table-dashboard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 56px;
    }

    .right-footer-table-dashboard {
        display: flex;
        width: 400px;
        align-items: center;
    }

    .button-custom-list-page {
        cursor: pointer;
        display: flex;
        height: 32px;
        box-sizing: border-box;
        align-items: center;
        border: 1px solid #babec5;
        border-radius: 2px;
        background-color: #fff;
        overflow: hidden;
        margin-left: 16px;
        margin-right: 16px;
    }

    .button-custom-list-page span {
        padding-left: 10px;
        padding-right: 15.5px;
        cursor: pointer;
    }

    .pre-page {
        cursor: default !important;
        color: #9e9e9e;
        margin-right: 13px;
    }

    .page-first {
        /* border: 1px solid #e0e0e0;
    font-weight: 700;
    padding-left: .5rem;
    padding-right: .5rem; */
    }

    .page-persent {
        border: 1px solid #e0e0e0;
        font-weight: 700;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .next-page {
        cursor: pointer;
        color: #9e9e9e;
        margin-left: 13px;
    }

    .button-drop-down {
        height: 32px;
        width: 32px;
        position: relative;
    }

    .button-drop-down .icon-dropdown {
        position: absolute;
        top: 8px;
        left: 8px;
    }

    .button-drop-down:hover {
        background-color: #e0e0e0;
    }

    .table-dateOfBirth {
        text-align: center;
    }

    .custom-list-page {
        position: relative;
    }

    .custom-list-page-detail {
        position: absolute;
        top: -165px;
        left: 20px;
        background-color: #fff;
        min-height: 160px;
        border-radius: 3px;
        border: 1px solid #babec5;
    }

    .custom-list-page-detail div {
        flex: 1;
        padding: 0px 35px 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        height: 32px;
        cursor: pointer;

    }

    .custom-list-page-detail div:hover {
        color: #fff;
        background-color: #2ca01c;
    }

    /* modal*/
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        align-items: center;
        justify-content: center;
        display: none;
    }

    .tr-table-list {
        position: relative;
    }

    .body-table-list tr {
        max-height: 44px !important;
    }

    .table-address {
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .row-tick-table{
        min-width: 50px !important;
        padding-left: 0px !important;
    }
    .tr-table-list:active{
        background-color: #E5F3FF;
    }