/* @import url(./base/button.css);
@import url(./base/input.css);
@import url(./base/table.css);
@import url(./layout/header.css);
@import url(./layout/navbar.css);
@import url(./layout/content.css);
@import url(./layout/customer.css); */
body{
    font-family: Misa Font Regular;
    font-size: 13px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
button{
    border: none;
}
@font-face {
    font-family: Misa Font Regular;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

@font-face {
    font-family: Misa Font Bold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}

@font-face {
    font-family: Misa Font Italic;
    src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}

@font-face {
    font-family: Misa Font SemiBold;
    src: url(../assets/fonts/notosans-semibold.df3e6dc4.woff2);
}

.b-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}
.b-main{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.b-container-dashboard{
    z-index: 1000;
}
